<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cdsDriver.dao.BankOnlineConfigMapper">

    <resultMap id="BankOnlineConfig" type="com.cdsDriver.model.BankOnlineConfigEntity">
        <result column="ID" property="id"/>
        <result column="BANK_ID" property="bankId"/>
        <result column="ONLINE_TIME" property="onlineTime"/>
        <result column="OFFLINE_TIME" property="offlineTime"/>
        <result column="STATUS" property="status"/>
        <result column="DEL_FLAG" property="delFlag"/>
        <result column="CREATE_TIME" property="createTime"/>
        <result column="MODIFE_TIME" property="modifeTime"/>
    </resultMap>
    <sql id="columns">
        <![CDATA[

        ID ,BANK_ID,ONLINE_TIME ,OFFLINE_TIME ,STATUS ,DEL_FLAG,CREATE_TIME,MODIFE_TIME

        ]]>
    </sql>
    <sql id="findWhere">
        <where>
            DEL_FLAG='0'
            <if test="bankId !=null and bankId !='' ">and BANK_ID=#{bankId,jdbcType=NUMERIC}</if>
            <if test="id !=null and id !='' ">and ID=#{id,jdbcType=NUMERIC}</if>
            <if test="STATUS !=null  ">and STATUS=#{status,jdbcType=NUMERIC}</if>
        </where>
    </sql>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO bank_online_config (
        BANK_ID,
        ONLINE_TIME,
        OFFLINE_TIME,
        STATUS,
        DEL_FLAG,
        CREATE_TIME,
        MODIFE_TIME
        ) VALUES (
        #{bankId, jdbcType=NUMERIC} ,
        #{onlineTime, jdbcType=TIMESTAMP} ,
        #{offlineTime, jdbcType=TIMESTAMP} ,
        #{status, jdbcType=NUMERIC} ,
        #{delFlag, jdbcType=NUMERIC} ,
         now(),
        now()
        )
    </insert>
    <update id="update">
        UPDATE bank_online_config SET
        MODIFE_TIME  =  now()
        <if test=" onlineTime !=null ">
            ,   ONLINE_TIME  = #{onlineTime, jdbcType=TIMESTAMP}
        </if>
        <if test=" offlineTime !=null ">
            ,    OFFLINE_TIME = #{offlineTime, jdbcType=TIMESTAMP}
        </if>
        <if test=" delFlag !=null ">
            ,   DEL_FLAG     = #{delFlag, jdbcType=NUMERIC}
        </if>
        <if test=" status !=null ">
            ,  STATUS  = #{status, jdbcType=NUMERIC}
        </if>
        WHERE
        ID = #{id, jdbcType=NUMERIC}
    </update>
    
    <!-- 批量置旧维护数据为失效 -->
    <update id="updateByModifyTime">
        UPDATE bank_online_config SET
        MODIFE_TIME = #{modifyTime, jdbcType=TIMESTAMP}
            ,DEL_FLAG =1
            ,STATUS =0
        WHERE
        <![CDATA[
        MODIFE_TIME < #{modifyTime, jdbcType=TIMESTAMP}
        ]]>
    </update>
    
    <select id="getCount" parameterType="java.util.Map" resultType="java.lang.Integer">
        SELECT count(*) FROM bank_online_config
        <include refid="findWhere"/>
    </select>
    <select id="findByPage" resultMap="BankOnlineConfig">
        SELECT
        <include refid="columns"/>
        FROM bank_online_config
        <include refid="findWhere"/>
        ORDER BY MODIFE_TIME desc
        limit #{start},#{end}
    </select>
    <select id="findByBankId" resultMap="BankOnlineConfig">
        SELECT
        <include refid="columns"/>
	    FROM bank_online_config
	    where ONLINE_TIME  &gt;= now()
        and DEL_FLAG='0'
        <if test="bankId !=null and bankId !='' ">
            and BANK_ID=#{bankId,jdbcType=NUMERIC}
        </if>
        <if test=" status !=null ">
            and STATUS  = #{status, jdbcType=NUMERIC}
        </if>
        ORDER BY MODIFE_TIME desc
    </select>
    <select id="getById" resultMap="BankOnlineConfig">
        SELECT
        <include refid="columns"/>
        <![CDATA[
	        FROM bank_online_config
	        WHERE
		        id = #{id}
	    ]]>
    </select>
    
    <!-- 批量插入 -->
    <insert id="insertBatch" parameterType="java.util.List">
       INSERT INTO bank_online_config (
        ID,
        BANK_ID,
        ONLINE_TIME,
        OFFLINE_TIME,
        STATUS,
        DEL_FLAG,
        CREATE_TIME,
        MODIFE_TIME
        ) VALUES  
        <foreach collection="list" item="item" index="index" separator=",">
        (
        #{item.id},
        #{item.bankId},
        #{item.onlineTime},
        #{item.offlineTime},
        #{item.status},
        #{item.delFlag},
        now(),
        now()
        )
        </foreach>
    </insert>
     
     
     <insert id="insertTest" useGeneratedKeys="true" keyProperty="id" parameterType="java.util.List">
       INSERT INTO bank_online_config (
        BANK_ID,
        ONLINE_TIME,
        OFFLINE_TIME,
        'STATUS',
        DEL_FLAG,
        CREATE_TIME,
        MODIFE_TIME
        ) VALUES  
        <foreach collection="list" item="item" index="index" separator=",">
        (
        #{item.bankId,jdbcType=NUMERIC},
        #{item.onlineTime,jdbcType=TIMESTAMP},
        #{item.offlineTime,jdbcType=TIMESTAMP},
        #{item.status,jdbcType=NUMERIC},
        #{item.delFlag,jdbcType=NUMERIC},
        now(),
        now()
        )
        </foreach>
    </insert>
</mapper>