<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

<!--	<bean id="modelTest" class="com.web.util.SpringFactoryBean">
	</bean>

	<bean id="druidController" class="com.web.controller.DruidController">
		<property name="modelTest" ref="modelTest"/>
	</bean>-->

	<bean id="bbean" class="com.web.spring.Bbean"></bean>
	<bean id="abean" class="com.web.spring.Abean">
		<property name="bbean" ref="bbean"></property>
	</bean>
</beans>
